.App {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  height: 80vh;
  width: 30vw;
  padding: 0.25vh;
  background-color: aliceblue;
  border-radius: 10px;
  display: grid;
  grid-column: 7vw 7vw 7vw 7vw;
  grid-row: 13.6vh 13.6vh 13.6vh 13.6vh 13.6vh 13.6vh;
}

.screen {
  background-color: black;
  grid-column: 1 / span 4;
  margin: 0.25vh;
  border-radius: 10px;
}

.all-clear {
  grid-column: 1 / span 2;
}

.zero {
  grid-column: 1 / span 2;
}

.equals {
  grid-column: 4 / span 1;
  grid-row: 5 / span 2;
}

.box {
  border: 1px solid black;
  margin: 0.25vh;
  display: flex;
}

.r1 {
  grid-row: 1 / span 1;
}
.r2 {
  grid-row: 2 / span 1;
}
.r3 {
  grid-row: 3 / span 1;
}
.r4 {
  grid-row: 4 / span 1;
}
.r5 {
  grid-row: 5 / span 1;
}
.r6 {
  grid-row: 6 / span 1;
}
